# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# exclude ide
.vscode
.idea

# test files
test
cmake-build-debug

CMakeLists.txt

cachelab/cachelab-handout/AMatrix

cachelab/cachelab-handout/BMatrix

cachelab/cachelab-handout/m32n32_v1

cachelab/cachelab-handout/m32n32

cachelab/cachelab-handout/.csim_results

cachelab/cachelab-handout/.marker

cachelab/cachelab-handout/raven-handin.tar

cachelab/cachelab-handout/test-trans

cachelab/cachelab-handout/trace.f0

cachelab/cachelab-handout/trace.f1

cachelab/cachelab-handout/trace.tmp

cachelab/cachelab-handout/tracegen

cachelab/cachelab-handout/vgcore.12722

cachelab/cachelab-handout/cachelab.c

cachelab/cachelab-handout/csim

cachelab/cachelab-handout/debug_file

cachelab/cachelab-handout/m64n64-block

cachelab/cachelab-handout/m64n64-row-wise

cachelab/cachelab-handout/vgcore.12731
